
body  {
  background-color: tint($color1, 30%);
}

.intro h2 {
  padding: 20px;
  font-family: 'Shrikhand', cursive;
  background-color: tint($color1, 80%);
}

.p-styles {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #4f4b4a;
  text-align: center;
}

h2  {
  @extend .p-styles;
  @include h2border(0.3,0.3);
  font-size: 30px;
  background-color: tint($color1, 80%);
}

.pic {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: 2px solid $color2;
  border-radius: 5px;
  margin-top: 25px;
  @include filter(grayscale(0.5));
}
